@model RushHour.Models.User
@{
    ViewBag.Title = "LogIn";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>LogIn</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <h2>LogIn</h2> <br />
        <div>
            @Html.LabelFor(model => model.Email)
        </div>
        <div>
            @Html.TextBoxFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div>
            @Html.LabelFor(model => model.Password)
        </div>
        <div>
            @Html.TextBoxFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <div>
            <br /><br />
            <input type="submit" value="LogIn" />
        </div>
       

}


</body>
</html>



